{% extends 'base.html' %}
{% load static %}


{% block hero %}
{% endblock %}


{% block register %}
<link href="{% static 'css/register.css' %}" rel="stylesheet">
<!-- Register Form -->
  <section class="register-section">
    <div class="register-container" data-aos="fade-up">
      <div class="register-image"></div>
      <div class="register-form">
        <h2>Create Your Account</h2>
        <form>
          <div class="row">
            <div class="col-md-6 mb-3">
              <input type="text" class="form-control" placeholder="Full Name">
            </div>
            <div class="col-md-6 mb-3">
              <input type="text" class="form-control" placeholder="Username">
            </div>
          </div>
          <div class="row">
            <div class="col-md-6 mb-3">
              <input type="email" class="form-control" placeholder="Email Address">
            </div>
            <div class="col-md-6 mb-3">
              <input type="tel" class="form-control" placeholder="Mobile Number">
            </div>
          </div>
          <div class="row">
            <div class="col-md-6 mb-3">
              <input type="password" class="form-control" placeholder="Password">
            </div>
            <div class="col-md-6 mb-3">
              <input type="password" class="form-control" placeholder="Confirm Password">
            </div>
          </div>
          <div class="mb-3">
            <select class="form-select">
              <option selected disabled>Select Your Role</option>
              <option>Contractor</option>
              <option>Thekedar</option>
              <option>Buyer</option>
              <option>Seller</option>
              <option>Majdur</option>
            </select>
          </div>
          <div class="form-check mb-3">
            <input class="form-check-input" type="checkbox" id="terms">
            <label class="form-check-label" for="terms">
              I agree to the <a href="#">Terms & Conditions</a>
            </label>
          </div>
          <button type="submit" class="btn btn-custom">Register</button>
        </form>
        <button class="btn btn-google"><img src="https://img.icons8.com/color/48/000000/google-logo.png"/> Sign up with Google</button>
        <div class="extra-links">
          <p>Already have an account? <a href="login.html">Login</a></p>
        </div>
      </div>
    </div>
  </section>

{% endblock %}



{% block services %}
{% endblock %}




{% block counters %}
{% endblock %}

{% block about %}

{% endblock %}

{% block contact %}
{% endblock %}
